<template>
  <v-card
      class="mx-auto mt-3"
      max-width="434"
      tile
  >
    <v-row
        align="end"
        class="fill-height"
    >
      <v-col
          align-self="start"
          cols="12"
      >
        <v-avatar
            class="profile ml-3"
            color="grey"
            size="164"
            tile
        >
          <v-img :src="picture"></v-img>
        </v-avatar>
        <v-btn
            class="mx-2"
            fab
            small
            dark
            color="pink"
            @click="favouriteClick"
        >
          <v-icon :color="favouriteColor">
            mdi-heart
          </v-icon>
        </v-btn>
        <GmapMap
            :center="{lat:10, lng:10}"
            :zoom="7"
            map-type-id="terrain"
            style="width: 100%; height: 300px"
            class="mt-3"
        >
        </GmapMap>
      </v-col>

      <v-col class="py-0">
        <div class="px-3">
          <v-list>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="text-h6">
                  {{ detailUser.name.first }} {{ detailUser.name.last }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-action>
                <v-icon>mdi-email</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{ detailUser.email }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider inset></v-divider>
            <v-list-item>
              <v-list-item-action>
                <v-icon>mdi-map-marker</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{ detailUser.location.street.name }}, {{ detailUser.location.street.number }},
                  {{ detailUser.location.city }}
                  ({{ detailUser.location.postcode }}), {{ detailUser.location.country }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider inset></v-divider>
            <v-list-item>
              <v-list-item-action>
                <v-icon>mdi-phone</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{ detailUser.phone }}</v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-icon>mdi-message-text</v-icon>
              </v-list-item-action>
            </v-list-item>
            <v-divider inset></v-divider>
            <v-list-item>
              <v-list-item-action>
                <v-icon>mdi-phone</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{ detailUser.cell }}</v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-icon>mdi-message-text</v-icon>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "Details",
  computed: {
    ...mapGetters('user', [
      'users', 'favourites'
    ]),
    detailUser() {
      return this.users.find(u => u.localId == this.$route.params.id);
    },
    picture() {
      return this.detailUser.picture.large;
    },
    favourite() {
      return this.favourites.map(f => f.localId).includes(this.detailUser.localId);
    },
    favouriteColor() {
      let color = "";
      if (this.favourite) {
        color = 'pink darken-4';
      }
      return color;
    }
  },
  methods: {
    favouriteClick() {
      if (this.favourite) {
        this.removeFavourite(this.detailUser);
      } else {
        this.addFavourite(this.detailUser);
      }
    },
    ...mapActions('user', [
      'addFavourite', 'removeFavourite'
    ])
  }
}
</script>

<style scoped>

</style>
