<template>
  <div>
    <users-table :users="favourites" :show-filters="false"></users-table>
    <v-btn color="success" @click="clickExport">
      Export
      <v-icon right>mdi-download</v-icon>
    </v-btn>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import UsersTable from "../UsersTable";
import * as jsonexport from "jsonexport/dist"

export default {
  name: "Details",
  components: {UsersTable},
  computed: {
    ...mapGetters('user', [
      'favourites'
    ]),
  },
  methods: {
    clickExport() {
      jsonexport(this.favourites.map(f => {
        return {
          Gender: f.gender,
          Name: f.name.first + ' ' + f.name.last,
          Email: f.email,
          Nationality: f.location.country,
          'Date of birth': f.dob.date,
          'Registration date': f.registered.date
        }
      }), function (err, csv) {
        if (err) return console.error(err);
        let csvStart = "data:text/csv;charset=utf-8,"
        let encodedUri = encodeURI(csvStart + csv);
        let link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "favourites.csv");
        document.body.appendChild(link); // Required for FF
        link.click();
        document.body.removeChild(link);
      })
    }
  }
}
</script>

<style scoped>

</style>
