<template>
  <div>
    <v-btn color="primary" @click="reloadUsers">
      Reset
      <v-icon right>mdi-cached</v-icon>
    </v-btn>
    <users-table :users="users" :loading="loadingUsers"></users-table>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import UsersTable from "../UsersTable";

export default {
  name: "Home",
  components: {UsersTable},
  data() {
    return {
      loadingUsers: true,
    }
  },
  computed: {
    ...mapGetters('user', [
      'users'
    ])
  },
  methods: {
    ...mapActions('user', [
      'loadUsers'
    ]),
    reloadUsers() {
      this.loadingUsers = true;
      this.loadUsers().then(() => {
        this.loadingUsers = false;
      });
    }
  },
  created() {
    if (!this.users) {
      this.loadUsers().then(() => {
        this.loadingUsers = false;
      });
    } else {
      this.loadingUsers = false;
    }
  }
}
</script>

<style scoped>

</style>
