<template>
  <v-data-table
      :headers="headers"
      :items="usersMapped"
      item-key="name"
      :items-per-page="10"
      :loading="loading"
      @click:row="rowClicked"
  >
    <template v-slot:item.birthDate="{ item }">
      {{ moment(item.birthDate).format('MMMM Do YYYY, h:mm:ss a') }}
    </template>
    <template v-slot:item.registeredDate="{ item }">
      {{ moment(item.registeredDate).format('MMMM Do YYYY, h:mm:ss a') }}
    </template>
    <template v-slot:body.append v-if="showFilters">
      <tr>
        <td>
          <v-select
              :items="genders"
              v-model="genderFilter"
              label="Gender"
              :clearable="true"
          ></v-select>
        </td>
        <td colspan="2"></td>
        <td>
          <v-select
              :items="nationalities"
              v-model="nationalityFilter"
              label="Nationality"
              :clearable="true"
          ></v-select>
        </td>
        <td>
          <v-select
              :items="ages"
              v-model="ageFilter"
              label="Age"
              :clearable="true"
          ></v-select>
        </td>
        <td></td>
      </tr>
    </template>
  </v-data-table>
</template>

<script>
import moment from "moment";

export default {
  name: "UsersTable",
  props: {
    users: {
      type: Array
    },
    loading: {
      type: Boolean,
      default: false
    },
    showFilters: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      headers: [
        {
          text: 'Gender',
          value: 'gender',
          filter: value => {
            if (!this.genderFilter) return true;
            return value === this.genderFilter;
          }
        },
        {text: 'Name', value: 'name'},
        {text: 'Email', value: 'email'},
        {
          text: 'Nationality',
          value: 'country',
          filter: value => {
            if (!this.nationalityFilter) return true;
            return value === this.nationalityFilter;
          }
        },
        {
          text: 'Date of birth',
          value: 'birthDate',
          filter: (value, search, item) => {
            if (!this.ageFilter) return true;
            return item.dob.age === this.ageFilter;
          }
        },
        {text: 'Registration date', value: 'registeredDate'},
      ],
      genderFilter: null,
      ageFilter: null,
      nationalityFilter: null
    }
  },
  computed: {
    usersMapped() {
      return this.users.map(u => {
        return {
          ...u,
          name: u.name.first + ' ' + u.name.last,
          country: u.location.country,
          birthDate: u.dob.date,
          registeredDate: u.registered.date
        }
      });
    },
    genders() {
      return this.usersMapped.map(u => u.gender).filter((v, i, a) => a.indexOf(v) === i);
    },
    ages() {
      return this.usersMapped.map(u => u.dob.age).filter((v, i, a) => a.indexOf(v) === i).sort();
    },
    nationalities() {
      return this.usersMapped.map(u => u.country).filter((v, i, a) => a.indexOf(v) === i).sort();
    }
  },
  methods: {
    rowClicked(value) {
      this.$router.push({
        name: 'details',
        params: {
          id: value.localId
        }
      });
    },
    moment
  },
}
</script>

<style scoped>

</style>